@charset "UTF-8";

/* 네비게이션바 */
.navibar {
    width: 100%;
    height: 85px;
    position: fixed;
    background: #0099bc;
}

/* 네비게이션 바의 해상도 */
.resolution {
    width: 1200px;
    margin: 0 auto;
    font-family: "Noto Sans KR"; /* 전체 폰트 설정 */
}

/* 로고 관련 스타일 */
.logo_div {
    display: inline-block;
    float: left;
    margin: 5px;
}

.sponiverse_logo {
    border-radius: 0;
    transition-duration: 1s;
}

.sponiverse_logo:hover {
    transform: rotate(360deg);
    border-radius: 50px;
}

/* 왼쪽 부분 */
.left {
    float: left;
    margin: 20px 0 20px 10px; /* 상하 여백은 같으므로 한 번만 명시 */
    display: flex; /* Flexbox를 사용하여 내부 요소들을 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

/* 검색박스 */
.searchbox {
    width: 300px;
    height: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
}

/* 검색 버튼 */
.searchbutton {
    width: 40px;
    height: 40px;
}

/* 오른쪽 부분 */
.right {
    display: flex; /* Flexbox를 사용하여 내부 요소들을 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    height: 100%; /* 부모 요소(.right)의 높이를 기준으로 링크의 높이 설정 */
    float: right;
    margin-top : 25px;
}

/* 로그인, 회원가입, 호스트센터 */
.signin, .signup {
    text-decoration: none;
    color: white;
    padding : 5px;
}

/* 호스트센터 */
.hostpage {
    text-decoration: none;
    color: #0099bc;
    background-color: white;
    border-radius: 5px;
    padding : 5px;
}
