@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	font-family: "Noto Sans KR", sans-serif;
}

.hostCenterBar {
	width: 100%;
	height: 85px;
	position: fixed;
	background-color: #171717;
	display: flex;
	justify-content: center;
	align-items: center;
}

.resolution {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.logo {
	display: inline-block;
}

.logo_img {
	width: 100px;
	height: 70px;
}

.right {
    display: flex;
    align-items: center;
    height: 100%;
}

.toMake, .toMain {
	font-size: 15px;
    color: #0099bc; 
    background-color: white; 
    border : 1px solid white;
    border-radius: 5px; 
    padding: 7px; 
    margin-left: 10px; 
    
}

.toMake:active, .toMain:active {
    transform: scale(0.95); /* 버튼을 눌렀을 때 크기 축소 효과 */
    background-color: #e0e0e0; /* 눌렀을 때 배경색 변화 */
}

